<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Antic+Didone|Raleway:400,200' rel='stylesheet' type='text/css'>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Caleb Amsden</h1>
            <nav><a href="/">Home</a></nav>
            <nav><a href="/articles">Articles</a></nav>
            <!--<nav><a href="/#projects">Projects</a></nav>-->
            <nav><a href="/about">About</a></nav>
        </header>
        <section class="main">

            <section class="about-me full-spread">
                <div>
                    <img src="/static/images/python-logo.png" width="245" >
                    <img src="/static/images/ca-profile.jpeg" width="245" >
                    <img src="/static/images/css3-logo.png" width="245" >
                </div>
<p>
    Growing up on a small farm taught me two important lessons: knowing 
    how to work hard and work smart. I call myself a Web Developer and a 
    designer, and I spend most of my time building websites and apps.
</p>
<h3>Technical Background</h3>
<p>
    I first start programming when my first boss gave me a old CentOS server 
    and told me to build an API. I bought a book on Perl and then learned a 
    lot about Linux, databases and scripting. In the next six months I went 
    from unpaid intern to leading the technical team. Six months after we 
    launched, we had already pulled in over $1 million in revenue and were 
    profitable. I work relentlessly to build a successful product, and 
    learned how to adjust to changing challenges and environments. Some of 
    the challenges my team overcame include:
</p>
<p><ul>
    <li>Scaling an API to deal with 1,000s of requests/second.</li>
    <li>Creating an optimized database with over a 100 million records.</li>
    <li>Building a system to sanitize new and existing records in real-time.</li>
    <li>Creating an analytics platform to gain insights on data trends.</li>
</ul></p>

<h3>Full-stack developer, Experience designer</h3>
<p>
    All my side projects have focused on building web apps that make 
    people's lives easier (I have a soft spot for SMBs). This required 
    becoming an expert on how to build interfaces that get out of the way 
    and empower the user. 
</p>
<p>
    For my first full-stack web application I built a really useful app that 
    helped sellers on Etsy easily create and send newsletters. The user 
    experience was awful and 90% of my users used the app once. I learned 
    from the mistake and built a new, clean UI that's converting at around 
    50%.
</p>
<h3>Most recently, Tech lead at a rising NYC-based startup</h3>
<p>
    My current position is Lead Developer at I Like What You're Wearing. 
    Forbes called us "Facebook + Vogue + Amazon". As the first technical 
    hire at ILWYW, I inherited a 6K line backbone.js one-pager and an 
    extremely slow 8K line django-piston API. Requests to our shop page were 
    timing out after 30 seconds, and the whole ux was clunky and slow. 
</p>
<p>
    I converted the entire project to a standard site structure in Django 
    only using Backbone to organize the pages with complex functionality. 
    After refactoring, adding DB caching and AWS Cloudfront, we were able to 
    reduce page load times to under 1 second for ever page on our site. I am 
    also proud to have:
</p>
<p><ul>
    <li>
        Designed and produced the entire front-end e-commerce platform. We 
        received a lot of attention based on how we pushed the limits of a 
        traditional fashion site while building something that our users 
        loved.
    </li>
    <li>
        Research, created and participated in pitches to investors. We were 
        able to raise over $600K before we fully launched the product.
    </li>
    <li>Built a very fast, easy-to-use and most of all reliable site: our only down-time occurred when our founder forgot to renew the domain.
    <li>Communicated effectively with team members by using data to help focus product vision and avoiding feature creep.
    <li>Created an amazing experience on mobile. By building a responsive site layout and optimizing for tablets, our tablet users purchased 20% more often than regular site users.
</ul></p>
<h3>Summary</h3>
<p>
    Overall, I'm really passionate about creating great products and unique 
    experiences for users. If you're interested in getting in touch, you can 
    find me on:
</p>
<ul class="list-none">
    <li><a href="http://twitter.com/calebamsden">Twitter</a></li>
    <li><a href="http://github.com/ca136">Github</a></li>
    <li><a href="mailto:caleb.amsden@gmail.com">Email</a></li>
</ul>


            </section>


        </section>

        <footer>
            Last updated by Caleb Amsden, March 2013
        </footer>



    </body>
</html>


