<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Antic+Didone|Raleway:400,200' rel='stylesheet' type='text/css'>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Caleb Amsden</h1>
            <nav><a href="/">Home</a></nav>
            <nav><a href="/articles">Articles</a></nav>
            <!--<nav><a href="/#projects">Projects</a></nav>-->
            <nav><a href="/about">About</a></nav>
        </header>
        <section class="main">

            <section class="about-me full-spread">
                <div>
                    <img src="/static/images/python-logo.png" width="245" >
                    <img src="/static/images/ca-profile.jpeg" width="245" >
                    <img src="/static/images/css3-logo.png" width="245" >
                </div>
<p>
    Growing up on a small farm taught me two important lessons: knowing 
    how to work hard and work smart. Now, I apply those lessons as a 
    web developer, designer and entrepreneur.
</p>
<p>
    I first start programming when my boss gave me an old CentOS server 
    and told me to build an API. I bought a book on Perl and then learned a 
    lot about Linux, databases and scripting. Six months after we 
    launched, we had already earned $1 million in revenue and were 
    profitable.
</p>
<p>
    All my side projects have focused on building web apps that make 
    people's lives easier (I have a soft spot for SMBs). This required 
    becoming an expert on how to build interfaces that get out of the way 
    and empower the user. 
</p>
<p>
    Most recently I worked as Lead Developer of I Like What You're Wearing. 
    Forbes called us "Facebook + Vogue + Amazon". As the first technical 
    hire at ILWYW, I was responsible for crafting an experience that showcased 
    the hottest new fashion designers.
</p>
<p>
    Overall, I'm really passionate about creating great products and unique 
    experiences for users. If you're interested in getting in touch, you can 
    find me on:
</p>
<ul class="list-none center">
    <li><a href="http://twitter.com/calebamsden">Twitter</a></li>
    <li><a href="http://github.com/ca136">Github</a></li>
    <li><a href="mailto:caleb.amsden@gmail.com">Email</a></li>
</ul>


            </section>


        </section>

        <footer>
            Last updated by Caleb Amsden, March 2013
        </footer>



    </body>
</html>


