<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Antic+Didone|Raleway:400,200' rel='stylesheet' type='text/css'>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Caleb Amsden</h1>
            <nav><a href="/">Home</a></nav>
            <nav><a href="/articles">Articles</a></nav>
            <!--<nav><a href="/#projects">Projects</a></nav>-->
            <nav><a href="/about">About</a></nav>
            <h2>web developer and designer</h2>
        </header>
        <section class="main">

            <section class="projects">
                <nav id="projects" class="internal-link"></nav>
                <h2>PROJECTS</h2>
                <div class="proj-container left">
                    <img src="/static/images/ilwyw_shot.png" width="312" height="200" />
                    <p>Designed and created ILWYW.com, an e-commerce platform for rising fashion designers.</p>
                </div>
                <div class="proj-container center">
                    <img src="/static/images/mnn_shot.png" width="312" height="200" />
                    <p>I created an app that uses the Etsy API to build one-click newsletters for sellers on Etsy.com. Python, Django and Backbone.js</p>
                </div>
                <div class="proj-container right">
                    <img src="/static/images/bridge_shot.png" width="312" height="200" />
                    <p>Developed a high performance data-management system. API had > 1000 RPS querying over 100 million records.</p>
                </div>
            </section>
<div>
            <section class="articles">
                <h2>ARTICLES</h2>

                <!-- EACH NEW ITEM -->

{% for note in notes %}
                <article>
                    <h3><a href="{{note.get_url()}}">{{note.headline}}</a></h3>
                    <p>{{note.pub_date.strftime('%B %d, %Y')}}</p>
                    <p>{{note.abstract|safe}}</p>
                </article>
{% endfor %}
            </section>

            <section class="sidebar">
                <div class="">
                    <h2>LIVE STATS</h2>
                    <p>
                        <a href="#">Coming Soon</a>
                    </p>
                </div>
            </section>
    </div>
        </section>

        <footer>
             Designed and developed by Caleb Amsden, 2013
        </footer>


    </body>
</html>

